#page-content-wrapper{
    position: relative;
    top:100px;
}

.land
{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}
.land:hover{
    fill: #980504;
    stroke: black;
    filter:url(#drop-shadow);
    stroke-width:1;

}

#tipHtml {
    line-height: 60%;
}