<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>NEDa-Households</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" href="../static/css/sidebar.css" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css}"/>
    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/earthquake/500/earthquake-24-256.png" th:href="@{https://cdn3.iconfinder.com/data/icons/earthquake/500/earthquake-24-256.png}"/>
    <link rel="stylesheet" href="../static/css/Survey.css" th:href="@{/css/Survey.css}"/>
    <link rel="stylesheet" href="../static/css/Background.css" th:href="@{/css/Background.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" th:src="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" th:src="@{https://www.gstatic.com/charts/loader.js}"></script>
    <script src="../static/js/ColumnView.js" th:src="@{/js/ColumnView.js}"></script>
    <script src="../static/js/SideBarChart.js" th:src="@{/js/SideBarChart.js}"></script>



</head>


<body>

<div id="wrapper" class="row">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <h3>Filter</h3>
            </li>

            <li>
                <div class="radio-filter">
                    <a href="#">Districts :</a>

                    <form class="district-options">
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="23" checked="" />Sindhupalchok</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="27" />Kathmandu</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="28" />Nuwakot</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="30" />Dhading</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="29" />Rasuwa</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="36" />Gorkha</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="26" />Bhaktapur</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="24" />Kavrepalanchok</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="22" />Dolakha</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="21" />Ramechhap</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="31" />Makwanpur</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="11" />Solukhumbu</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="12" />Okhaldhunga</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="20" />Sindhuli</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" value="25" />Latitpur</label>
                        </div>

                    </form>
                </div>
            </li>




        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Button for controlling the sidebar -->
                <a id="menu-toggle" href="#" class="navbar-brand">
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>

            </div>

            <!--Menu Items-->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                    <li><a href="Line.html" th:href="@{/Earthquakes}">Earthquakes</a></li>
                    <li ><a href="MapChart.html" th:href="@{/Casualties}">Casualties</a></li>
                    <li><a href="InteractiveMap.html" th:href="@{/Damages}">Reported damages</a></li>
                    <li class="active-button"><a href="#">Households</a></li>
                    <li><a href="Survey.html" th:href="@{/Survey}">Survey</a></li>

                </ul>

                <ul class="nav navbar-nav pull-right-sm">
                    <li><a href="SlideShow.html" th:href="@{/}">Back to homepage</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- Header -->
    <div class="header desktop-screen">
        <img src = "../static/img/headerNou.png" th:src="@{/img/headerNou.png}" class="header_image" alt="Header Image"/>
    </div>

    <div class="header phone-screen">
        <img src = "../static/img/HeaderPhone.png" th:src="@{/img/HeaderPhone.png}" class="header_image" alt="HeaderPhone Image"/>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h3 class="text-center titleStyle">Detailed information about the damage caused in districts. Change the district from the sidebar.</h3>
            </div>

            <div class="row">

                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div id="column_id" style="width: 100%; min-height: 450px; height: 600px"></div>
					
					<div class="col-md-offset-3 col-xs-offset-4 col-sm-offset-5 col-lg-offset-5">
                        <div class="btn-toolbar" role="toolbar" aria-label="Basic example">

                            <div class="btn-group" role="group">
                                <div id="export_png"> </div>
                            </div>
                        </div>
                    </div>
					
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div id="columnHouseholds_id" style="width: 100%; min-height: 450px; height: 600px"></div>

                    <div class="col-md-offset-3 col-xs-offset-4 col-sm-offset-5 col-lg-offset-5">
                        <div class="btn-toolbar" role="toolbar" aria-label="Basic example">

                            <div class="btn-group" role="group">
                                <div id="exportHouseholds_png"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div id="SideBarChart_container" style="margin-top: 100px;">
                        <div id="chart_div" style="width: 100%; min-height: 450px;"></div>

                        <div class="col-md-offset-3 col-xs-offset-4 col-sm-offset-5 col-lg-offset-5">
                            <div class="btn-group" role="group">
                                <div id="export_sbc"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Footer-->
        <div class="header desktop-screen">
            <img src ="../static/img/footerNou.png" th:src="@{/img/footerNou.png}" class="header_image" alt="Footer Image"/>
        </div>
        <div class="header phone-screen">
            <img src = "../static/img/FooterPhone.png" th:src="@{/img/FooterPhone.png}" class="header_image" alt="FooterPhone Image"/>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
<!-- /#wrapper -->

<!-- MENU TOGGLE SCRIPT -->
<script th:inline="javascript">
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>



</body>
</html>
