<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>NEDa-Earthquakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" href="../static/css/sidebar.css" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css}"/>
    <link rel="icon" href="https://cdn3.iconfinder.com/data/icons/earthquake/500/earthquake-24-256.png" th:href="@{https://cdn3.iconfinder.com/data/icons/earthquake/500/earthquake-24-256.png}"/>
    <link rel="stylesheet" href="../static/css/Background.css" th:href="@{/css/Background.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" th:src="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" th:src="@{https://www.gstatic.com/charts/loader.js}"></script>
    <script src="../static/js/LineView.js" th:src="@{/js/LineView.js}"></script>


</head>


<body>

<div id="wrapper" class="row">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <h3>Filters</h3>
            </li>
            <li>
                <div class="radio-filter">
                    <a href="#">Fatalities :</a>

                    <form id="fatalities-filter" class="fatalities-filter">
                        <div class="radio">
                            <label><input type="radio" name="optradio"  value="0&amp;1000" />Under 1000</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="1000&amp;4000 " />1000 - 4000</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="4000&amp;999999999999999999" />Over 4000</label>
                        </div>
                    </form>
                </div>
            </li>

            <li>
                <div class="radio-filter">
                    <a href="#">Richter scale :</a>

                    <form id="richter-filter" class="richter-filter">

                        <div class="radio">
                            <label><input type="radio" name="optradio"  value="0&amp;7" />Under 7</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="7&amp;8" />7 - 8</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" value="8&amp;10000" />Over 8</label>
                        </div>
                    </form>
                </div>
            </li>
            <li>
                <button class="btn btn-default" onclick="clearFilters();">Clear filters</button>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Button for controlling the sidebar -->
                <a id="menu-toggle" href="#" class="navbar-brand">
                    <span class="glyphicon glyphicon-th-list"></span>
                </a>

            </div>

            <!--Menu Items-->
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="nav navbar-nav">
                    <li class="active-button"><a href="#">Earthquakes</a></li>
                    <li ><a href="MapChart.html" th:href="@{/Casualties}">Casualties</a></li>
                    <li><a href="InteractiveMap.html" th:href="@{/Damages}">Reported damages</a></li>
                    <li><a href="ColumnView.html" th:href="@{/Households}">Households</a></li>
                    <li><a href="Survey.html" th:href="@{/Survey}">Survey</a></li>
                </ul>

                <ul class="nav navbar-nav pull-right-sm">
                    <li><a href="SlideShow.html" th:href="@{/}">Back to homepage</a></li>
                </ul>

            </div>

        </div>
    </nav>

    <!-- Header -->
    <div class="header desktop-screen">
        <img src = "../static/img/headerNou.png" th:src="@{/img/headerNou.png}" class="header_image" alt="Header Image"/>
    </div>

    <div class="header phone-screen">
        <img src = "../static/img/HeaderPhone.png" th:src="@{/img/HeaderPhone.png}" class="header_image" alt="HeaderPhone Image"/>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h3 class="text-center titleStyle" style="font-weight: bold; font-size: large;">Nepal is located in one of the most seismically active regions of the world. This is how earthquakes impacted the country in the previous centuries:</h3>
            </div>
            <div class="row">

                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div id="chart_magnitude" style="width: 100%; min-height: 450px; height: 600px"></div>
                    <div class="col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
                        <div class="btn-toolbar" role="toolbar" aria-label="Basic example">
                            <div class="btn-group" role="group">
                                <div id="export_magnitude_png"> </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                    <div id="chart_deaths" style="width: 100%; min-height: 450px; height: 600px"></div>

                    <div class="col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
                        <div class="btn-toolbar" role="toolbar" aria-label="Basic example">

                            <div class="btn-group" role="group">
                                <div id="export_deaths_png"> </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <!-- /#page-content-wrapper -->

    </div>
    <div class="header desktop-screen">
        <img src ="../static/img/footerNou.png" th:src="@{/img/footerNou.png}" class="header_image" alt="Footer Image"/>
    </div>
    <div class="header phone-screen">
        <img src = "../static/img/FooterPhone.png" th:src="@{/img/FooterPhone.png}" class="header_image" alt="FooterPhone Image"/>
    </div>
</div>
<!-- /#wrapper -->

<!-- MENU TOGGLE SCRIPT -->
<script th:inline="javascript">
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>



</body>
</html>
