#page-content-wrapper{
    position: relative;
    top:80px;
}

.land
{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:1;
    transition: all 0.3s;
    transform-origin: 50% 50%;

}
.land:hover{
    fill: #ac0e08;
    transform: scale(1.03);
    stroke-width: 1;
    stroke: #ac0e08;
    position: relative;
    z-index: -1;


}

#tipHtml {
    line-height: 60%;
}